<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telepoint | A Telepoint</title>
    <link rel="stylesheet" href="../paginas/estilos/atelepoint.css">
    <link rel="stylesheet" href="../../components/fonts/fonts.css">
    <script defer src="../paginas/interativo/atelepoint.js"></script>
</head>
<body>
    <header class="header">
        <a id="logo4" href="../../index.html"><img src="../images/logo4.svg" width="90%"></a>
        <nav class="nav">
            <button class="btn-menu"
            aria-label="Abrir Menu"
            aria-haspopup="true"
            aria-controls="menu"
            aria-expanded="false">

        Menu<span class="hamburger"></span></button>
            <ul class="menu" id="menu" role="menu">
                <li><a href="../paginas/atelepoint.html">A Telepoint</a></li>
                <li><a href="../paginas/servicos.html">Serviços</a></li>
                <li><a href="../paginas/clientes.html">Clientes</a></li>
                <li><a href="../paginas/contato.html">Contato</a></li>

            </ul>
        </nav>
    </header>

    <main id="paragrafos">
        <h1 id="title-quem">QUEM SOMOS?</h1>

        <p id="quem-description">A Telepoint é uma empresa de engenharia que atua nos setores de Elétrica e
        S.P.D.A. (para-raios). Instalada em São Bernardo do Campo, atua na grande São Paulo, interior e demais estados, desde 1990.</p>
                
        <p id="quem-description">A empresa atua com frota e sede próprias e seguindo as diretrizes da área de engenharia, executa LAUDOS, PROJETOS, MANUTENÇÃO, INSTALAÇÕES ELÉTRICAS e de S.P.D.A. (Sistema de Proteção contra Descargas Atmosféricas). Para tanto, dispõe de equipes capacitadas, ferramental adequado e equipamentos especiais de medição aferidos, certificados e homologados.</p>
                
        <p id="quem-description">Com a experiência adquirida e devidamente registrada no CREA-SP, possui em seu banco de dados mais de 6200 ART's executadas (CAT Certificados de Acervo Técnico) o que levou a ser referência no mercado, possibilitando cada vez mais um atendimento personalizado aos nossos clientes, fornecedores e colaboradores.</p>


        <a href="../paginas/contato.html"><button id="btn-contato">ENTRE EM CONTATO!</button></a>>
    </main>

    
</body>
</html>