<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telepoint | Clientes</title>
    <link rel="stylesheet" href="../paginas/estilos/clientes.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <script defer src="../paginas/interativo/clientes.js"></script>

</head>
<body>
    <header class="header">
        <a id="logo4" href="../../index.html"><img src="../images/logo4.svg" width: 900px;></a>
        <nav class="nav">
            <button class="btn-menu"
            aria-label="Abrir Menu"
            aria-haspopup="true"
            aria-controls="menu"
            aria-expanded="false">

            Menu<span class="hamburger"></span></button>
            <ul class="menu" id="menu" role="menu">
                <li><a href="../paginas/atelepoint.html">A Telepoint</a></li>
                <li><a href="../paginas/servicos.html">Serviços</a></li>
                <li><a href="../paginas/clientes.html">Clientes</a></li>
                <li><a href="../paginas/contato.html">Contato</a></li>

            </ul>
        </nav>
    </header>
       
        <main>
           <h1>Nossos clientes</h1>

           <div class="div1"> <img src="../images/div1-clientes.svg" alt="div2" width="70%"></div>
           <div class="div2"> <img src="../../components/images/div2-clientes.svg" alt="div1" width="70%"></div>

        </main>

</body>
</html>