<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="../paginas/estilos/servicos.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <script defer src="../paginas/interativo/serviços.js"></script>
</head>
<body>
    <header class="header">
            <a id="logo4" href="../../index.html"><img src="../images/logo4.svg" width="90%"></a>
        <nav class="nav">
            <button class="btn-menu"
            aria-label="Abrir Menu"
            aria-haspopup="true"
            aria-controls="menu"
            aria-expanded="false">

            Menu<span class="hamburger"></span></button>
            <ul class="menu" id="menu" role="menu">
                <li><a href="../paginas/atelepoint.html">A Telepoint</a></li>
                <li><a href="../paginas/servicos.html">Serviços</a></li>
                <li><a href="../paginas/clientes.html">Clientes</a></li>
                <li><a href="../paginas/contato.html">Contato</a></li>

            </ul>
        </nav>
    </header>

       <main>
        <h1 class="title">Serviços</h1>

        <div class="text t1">
            <h3 class="subtitle">Engenharia Civil</h3>
            <p class="paragraph"> ☑️ Edifícios na cidade de Mongaguá-SP e São Bernardo do Campo-SP.
                <br>☑️ + de 10.000 metros de canalização para rede elétrica de alta tensão (cidade de Quatá- Usina Açucareira ZILOR - SP.)
                <br>☑️ 32 bases para postes de Alta Tensão na cidade de Cubatão – OBRA – CETEP</p>

            <h3 class="subtitle s21">SPDA (Para-raios)</h3>
            <h4 class="subtitle s2">(emissão de laudos técnicos, vistorias, manutenção preventiva e corretiva)</h4>
            <p class="paragraph"> ☑️ 1.238 Edifícios de propriedade 'Telefônica Brasil'/'Vivo' no Estado de São Paulo.<br>
                ☑️ 689 torres de telefonia celular de propriedade 'American Tower do Brasil' em todo território nacional.<br>
                ☑️ 763 torres residenciais e comerciais na cidade de São Paulo, Grande São Paulo, ABC e litoral.</p>
        </div>

        <div class="text t2">
            <h3 class="subtitle s21">Redes Elétricas e Prediais</h3>
            <h4 class="subtitle s2">(emissão de laudos técnicos, vistorias, manutenção preventiva e corretiva)</h4>
            <p class="paragraph">
                ☑️ 345 prédios de propriedade 'Telefônica Brasil'/'Vivo' em todo o estado de São Paulo.<br>
                ☑️ 187 torres de telefonia celular de propriedade da 'American Tower do Brasil' em todo território nacional.<br>
                ☑️ 234 torres residenciais e comerciais na cidade de São Paulo, Grande São Paulo, ABC e litoral.</p>

            <h3 class="subtitle">Iluminação de Rodovias</h3>
            <p class="paragraph pi">☑️ Sistema Rodoviário Imigrantes - Pistas ascendentes/descendentes (São Bernardo do Campo e Cubatão-SP).</p>
        </div>

       </main>
</body>
</html>